<div class="login">
    <h1>Login</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login-form">
  
        <mat-form-field>
            <mat-label>Name:</mat-label>
            <input matInput formControlName="userName" required placeholder="Enter username">
        </mat-form-field>
  
        <mat-form-field>
            <mat-label>Password:</mat-label>
            <input matInput type="password" formControlName="password" required placeholder="Enter password">
        </mat-form-field>
  
        <div class="buttons">
            <button mat-flat-button color="primary" type="submit">Login</button>
            <button mat-flat-button color="secondary" [routerLink]="['/']">Cancel</button>
        </div>
  
    </form>
</div>
