.signup {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 4px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.signup-form {
    display: flex;
    flex-direction: column;
}

.mat-form-field {
    margin-bottom: 20px;
}

button[type="submit"] {
    margin-top: 20px;
}

.error-block {
    color: red;
    margin-top: 5px;
    font-size: 12px;
}
